In [ ]:
def greet():
    print("Hi")
    
greet()

# argument passing
def greet1(user):
    print("Hi,", user)
    
# greet1()  error
greet1("Naba")


# with default value
def greet2(user="Nosratee"):
    print("Hi,", user)

greet2()
greet2("Naba")

Hi
Hi,  Naba

In [ ]:
# positional arg
def sqr_add(a,b,c):
    print(f"{a}  {b} {c}")   #10  20 30,
    a=a**2
    b=b**2
    return a+b+c

ans=sqr_add(10,20,30) + 10
print(ans)

10  20 30
540

In [7]:
# keyword arguments
def sqr_add(a,b,c):
    print(f"{a}  {b} {c}")   #10  20 30,positional arg
    a=a**2
    b=b**2
    return a+b+c

ans=sqr_add(b=10,c=20,a=30) + 10
print(ans)

30  10 20
1030

## Args

In [ ]:

def sqr_add(*args):
    print(args)

ans = sqr_add(10,20,30,40,59)
print(ans)

# output
# (10, 20, 30, 40, 59) as tuple
# None,as we do not return anything

(10, 20, 30, 40, 59)
None

In [12]:
def sqr_add(*args):
    for i in args:
        print(i)

ans = sqr_add(10,20,30,40,59)
print(ans)

10
20
30
40
59
None

In [13]:
def sqr_add(*args):
    sum=0
    for i in args:
        sum+=i**2
        # print(i)
    return sum

ans = sqr_add(10,20,30,40,59)
print(ans)

6481

## keyword args

In [20]:
def student(**kwargs):
        print(kwargs)

student(name = "soloflare",id = 5,marks=90)

{'name': 'soloflare', 'id': 5, 'marks': 90}

In [23]:
def student(**kwargs):
    for key,val in kwargs.items():
        print(f"{key} : {val}")

student(name = "soloflare",id = 5,marks=90)

name : soloflare
id : 5
marks : 90